{% extends "layout.html" %}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<script type="text/javascript"> $(function() { $("#tabs").tabs(); }); </script>
<div class="dashboard">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Configuration</a></li>
            <li><a href="#tabs-2">Planets</a></li>
            <li><a href="#tabs-3">Categories</a></li>
            <li><a href="#tabs-4">Feeds</a></li>
            <li><a href="#tabs-5">Request</a></li>
        </ul>
        <div id="tabs-1">
            <form method="post" action="/admin/update/config">
                <fieldset>
                    <label>Name</label> <input type="text" name="name" value="{{config.name}}"> <br>
                    <label>Public Key of reCaptcha</label>
                    <input type="text" name="public_key" value="{{config.public_key}}"> <br>
                    <label>Private Key of reCaptcha</label>
                    <input type="text" name="private_key" value="{{config.public_key}}"> <br>
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-2">
            <dl>
                {% for planet in planets %}
                <dt>{{ planet.name }}</dt>
                <dd>{{ planet.url }}</dd>
                {% endfor %}
            </dl>
            <form method="post" action="/admin/create/planet">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>URL</label>
                    <input type="text" name="url">
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-3">
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
            <form method="post" action="/admin/create/category">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-4">
            <ul>
                {% for feed in feeds %}
                <li>{{ feed.name }} - {{ feed.feed }} - {{ feed.category.name }}</li>
                {% endfor %}
            </ul>
            <form method="post" action="/admin/create/feed">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>ATOM/RSS Feed</label>
                    <input type="text" name="url">
                    <select name="category">
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name|capfirst}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-5">
            <ul>
                {% for request in requests %}
                <li>{{ request.name }} - {{ request.feed }} - <img src="/avatar/{{ request.key }}"> - {{ request.valid }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
