{% extends "layout.html" %}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<script type="text/javascript"> $(function() { $("#tabs").tabs(); }); </script>
<div class="dashboard">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Configuration</a></li>
            <li><a href="#tabs-2">Planets</a></li>
            <li><a href="#tabs-3">Categories</a></li>
            <li><a href="#tabs-4">Feeds</a></li>
            <li><a href="#tabs-5">Request</a></li>
        </ul>
        <div id="tabs-1">
            <form method="post" action="/admin/config/update">
                <fieldset>
                    <label>Name</label> <input type="text" name="name" value="{{config.name}}"> <br>
                    <label>Public Key of reCaptcha</label>
                    <input type="text" name="public_key" value="{{config.public_key}}"> <br>
                    <label>Private Key of reCaptcha</label>
                    <input type="text" name="private_key" value="{{config.public_key}}"> <br>
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-2">
            {% if planets %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>URL</th>
                </thead>
                <tbody>
                {% for planet in planets %}
                    <tr>
                        <td>{{ planet.name }}</td>
                        <td>{{ planet.url|urlize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <form method="post" action="/admin/planet/create">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>URL</label>
                    <input type="text" name="url">
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-3">
            {% if categories %}
            <table>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <form method="post" action="/admin/category/create">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-4">
            {% if feeds %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Feed</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                {% for feed in feeds %}
                    <tr>
                        <td>{{ feed.name }}</td>
                        <td>{{ feed.feed|urlize }}</td>
                        <td>{{ feed.email|urlize }}</td>
                        <td><img src="/avatar/{{ feed.avatar.key }}"></td>
                        <td>{{ feed.category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <form method="post" action="/admin/feed/create">
                <fieldset>
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>Email</label>
                    <input type="text" name="email">
                    <label>ATOM/RSS Feed</label>
                    <input type="text" name="url">
                    <select name="category">
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name|capfirst}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </fieldset>
            </form>
        </div>
        <div id="tabs-5">
            {% if requests %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Feed</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Valid</th>
                        <th>Apply</th>
                    </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.name }}</td>
                        <td>{{ request.feed|urlize }}</td>
                        <td>{{ request.email|urlize }}</td>
                        <td><img src="/avatar/{{ request.avatar.key }}"></td>
                        <td>{{ request.valid }}</td>
                        <td><a href="/admin/request/apply/{{ request.key }}">Apply</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
