{% extends "layout.html" %}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<div id="join">
    <form method="post" enctype="multipart/form-data" action="/join">
        <fieldset>
            <label>Name</label> <input type="text" name="name">
            <label>RSS/ATOM</label> <input type="text" name="feed">
            <label>Avatar</label> <input type="file" name="avatar">
            <input type="submit">
        </fieldset>
    </form>
</div>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
