body {
	background-color: #ffd;
    margin: 0px 200px 0px 0px;
}

div#header h1.site {
	text-align: right;
    color: #888;
}

div.daygroup, div.dashboard {
    margin: 20px;
}

div.dashboard table {
    width:100%;
}

div.dashboard table,th,tr,td {
    border: 1px solid gray;
}

h2.date {
    font-weight: bold;
    color: gray;
    border-bottom: 1px dashed gray;
}

div#footer {
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    border-top: 1px dashed gray;
}

div#sidebar {
    position:absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 0px;
	border-left: 1px solid black;
	width: 200px;
}

div#sidebar div.block {
	border-bottom: 1px dashed black;
    padding: 0px 5px 5px;
}

div#sidebar ul {
    list-style-type: square;
    padding-left: 2em;
}

div#sidebar li:hover {
    color: gray;
}

div#sidebar a#join {
    float: right;
}
