body {
	background-color: #ffd;
    margin: auto;
}

div#body {
    width: 84%;
}

div#header {
	text-align: right;
    color: #888;
}

div#content {
    margin: 1%;
}

div#footer {
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    border-top: 2px dashed gray;
}

div#sidebar {
    position:absolute;
    right: 0px;
	border-left: 1px solid black;
	width: 15%;
}

div#sidebar div.block {
	border-bottom: 1px dashed black;
    padding: 0px 5px 5px;
}

div#sidebar ul {
    list-style-type: square;
    padding-left: 2em;
}

div#sidebar li:hover {
    color: gray;
}

div#sidebar a#join {
    float: right;
}
