body {
	background-color: #ffd;
    margin: auto;
}

div.body {
}

div.header {
	text-align: right;
    color: #888;
}

div.content {
}

div.footer {
    text-align: center;
    text-decoration: underline;
}

.footer hr {
    border: 1px dashed gray;
}

div.sidebar {
	border-left: 1px solid black;
    float: right;
    padding-top: 20px;
	width: 200px;
}

.sidebar div.block {
	border-bottom: 1px dashed black;
    padding: 0px 5px 5px;
}

.sidebar ul {
    list-style-type: square;
    padding-left: 2em;
}

.sidebar li:hover {
    color: gray;
}

a#join {
    float: right;
}
